@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet');
header{
    background-image: url(img/Layer2.png);
    width: 1920px;
    height: 957px;
    display: flex;

}
.rectangle {
width: 2022px;
height: 957px;
background: rgba(0, 0, 0, 0.85);
backdrop-filter: blur(4px);
}
.content{
    margin:0 auto;
    width:1117px;
}
h1:first-child{
    font-size: 50px;
    line-height: 55px;
}
.container{
    display flex;
    margin-left:419px;
    margin-top:50px;

}
.content>p{
font-size: 17px;
line-height: 34px;
color: #333333;
width:500px;

}

.top{
    margin-top: 71px;
    display: block;
    color: #FFFFFF;
  
}
.top>a{
    font-weight: bold;
float:right;
margin-left:100px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 23px;
text-decoration:none;
color:white;
}

.left_msg{  
    width:590px;
    margin-top: 259px;
    display:block;
    float: left;
    color :white;
      
}
.left_msg>hr{
    margin-top:-14px;
    width:132px;
    float:left;
    
}
.left_msg>p{
    float:left;
    clear:both;
    font-size:22px;
    margin-top:11px;
    margin-bottom:45px;
}


.btn{
    
float:left;  
width: 266px;
height: 59px;
background: #FED232;
border-radius: 7px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 16px;
padding-left:25px;
font-weight:bold;

}


.btn>p{
    margin-top:11px;
    font-size: 20px;
}


.right_logo{
    margin-top:314px;
    margin-right:0px;
    width:500px;
    float:right;
}
.right_logo>img{
    float:right;
    margin-bottom:28px;
}

.container{
    margin-top:125px;
    float:left;
    margin-left:399px;
}

.container h2
{
    font-size : 45px;
}

.container p{
    margin-top: -20px;
    line-height: 30px;

}

.rectangles_middle{
    margin-top:100px;
    margin-left:1px;
    display:flex;
    flex-wrap: wrap;
    width:1200px;

}
.rectangles{
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    width: 347px;
    height: 292px;
    margin-right:35px;
    margin-bottom: 35px;
    position:relative;
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

.rectangles:hover{
    border: 2px solid #FED233;
}

.rectangles>img{
margin-top:45px;
}

.rectangles>p{
margin-top:40px;
font-family: 'Open Sans', sans-serif;
width:80%;
font-size: 24px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
color: #4F4F4F;
}
.rectangles p:nth-child(1){
    color:green;
}
.rectangles>hr{
    width: 306px;
    height: 1px;
    margin-top:-10px;
    background-color:#E0E0E0;
    color:#E0E0E0;
    border:none;
    position: absolute;
    top:240px;
}
.rectangles>a{
    font-family: 'Open Sans', sans-serif;
        margin-top:2px;
font-size: 17px;
line-height: 23px;
display: block;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
color:#E0E0E0;
text-decoration:none;
position: absolute;
top:245px;
left:25px;
}

.about {
position: absolute;
width: 190px;
height: 54px;
left: 405px;
top: 2164px;
}
.about>h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 41px;
    line-height: 51px;
    display: flex;
    align-items: center;
color: #333333;
}

.about>p{
     width: 800px;
     font-family: 'Open Sans', sans-serif;
     font-size: 19px;
margin-top:-29px;
line-height: 28px;
color: #333333;
}

.after_about_rows
{
position: absolute;
height: 49px;
left: 408px;
top: 2393px;
display:flex;
}

.rows{
    width:320px;
    margin-right:74px;
}

.after_about_rows>.rows>H4{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
line-height: 60px;
color: #FED233;
font-weight:bold;
}

.after_about_rows>.rows>p{
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
width:69%;
line-height: 25px;
margin-top:-36px;
color: #828282;
}
.after_about_rows>.rows>hr{
    width: 320px;
    height: 2px;
    background-color:#BDBDBD;
    color:#BDBDBD;
    border:none;
    position: absolute;
    top:100px;
}

.forms{
    position: absolute;
    width: 1920px;
    height: 607px;
    left: -10px;
    top: 2639px;
    background-image: url(img/Layer2.png);
}

.forms_content{
    margin-top: -12px;
    margin-left:417px;
    width:600px;
   
}

.forms>.blur{
width: 2022px;
height: 650px;
display:flex;
background: rgba(0, 0, 0, 0.85);
backdrop-filter: blur(4px);
flex-direction: column;

}

.blur button[type="submit"]{
    height: 59px;
    width:266px;
    background: #FED233;
    border-radius: 7px;
    margin-top:55px;
    
}
.forms>form{
    display:flex;
    flex-wrap:wrap;
    width:465px;
    clear: both;
}

.blur>h5{
    margin-left:410px;
margin-top:140px;
width: 870px;
height: 54px;
font-family: 'Open Sans', sans-serif;
font-size: 40px;
line-height: 66px;
align-items: center;
color: #FFFFFF;
}
.forms_content>input,button{
    margin-bottom:19px;
    width: 460px;
    height: 59px;
    background: #FFFFFF;
    border-radius: 7px;
}

.forms_content>input[type="text"]{
    height:55px;
}

.blur input[type="radio"]{
    width: 11px;
    height: 11px;
    margin-left:2px;
    display: block;
}

label{
    font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    line-height: 16px;
    display: block;    
    margin-left:20px;
    margin-top:-35px;
  
    color: #FFFFFF;
    }
    
.about1{
    position: absolute;
    width: 1300px;
    left: 408px;
    top: 3339px;
    
}

.about1>h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
align-items: center;
display:block;
color: #333333;
margin-bottom:14px;
}

.about1>p{
    margin-top:20px;
width: 522px;
font-family: 'Open Sans', sans-serif;
margin-left:5px;
font-size: 19px;
line-height: 28px;
align-items: center;
color: #333333
}



.about1>.area{
    display:flex;
    flex-wrap: wrap;
    width:1200px;
    
}
.area>.columns{
    width:320px;
    margin-right:75px;
    margin-bottom:20px;
}
.columns>h4{
    margin-top:61px;
    font-family: Gotham Pro;
    font-size: 40px;
    line-height: 40px;

color: #FED233;
}
.columns>hr{
    width: 320px;
    margin-top:-42px;
    height: 2px;
    background-color:#BDBDBD;
    color:#BDBDBD;
    border:none;
}
.columns>p{
    width:269px;
    font-family: 'Open Sans', sans-serif;
        font-size: 18px;
    line-height: 32px;
    margin-top:-5px;
    color: #828282;

}
footer{
position: absolute;
width: 1920px;
height: 600px;
left: 0px;
top: 4061px;

background: #141414;
}
footer .line{
    position:absolute;
    margin-left:5px;
    top:124px;
    width: 132px;
height: 0px;
border: 1px solid #FED233;
}
footer h5{
margin-top:150px;
font-family: 'Open Sans', sans-serif;
font-size: 48px;
line-height: 66px;
color: #FFFFFF;
display: flex;
flex-direction: row;
}
footer img{
 float:left;
 margin-top:-140px;
 margin-left: 555px;
}

footer .btn{
    margin-left:8px;
    margin-top:-48px;
    height: 59px;
    width:266px;
    background: #FED233;
    border-radius: 7px;
}

.chanel{
    margin-left:5px;
    margin-top:117px;
width: 226px;
height: 33px;
font-family: 'Open Sans', sans-serif;
line-height: 35px;
color: #FFFFFF;
flex-direction: column;

}
.chanel>.mailer{
  font-size:font-size: 14px;
  font-weight:bold;
    
}
.chanel .num{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
line-height: 39px;
font-weight:bold;
color: #FFFFFF
}

footer .hr{
    position: absolute;
    width: 1817px;
    height: 0px;
    left: 17px;
    top: 484px;
    
    border: 1px solid rgba(255, 255, 255, 0.219)
}
.under_hr{
    margin-left: 5px;
    margin-top:148px;
height: 19px;
left: 405px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
font-weight: bold;
float:left;
}

.under_hr:nth-child(2n){
    float: right;
    margin-left:970px;
}
 span{
     margin-left:20px;
float:left;
display:block
}